@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    .forecast { display: block }  /* show the 10-day forecast with the medium view and up */

  }

#town-data{
    display: block;
}

#Weather-story{
    display: block;
    margin-top: 50px;
}
#weatherStoryImage{
    margin-top: 20px;
    width: 50%;
    margin: 10px;
}

fieldset{
    margin: auto;
    width: 300px;
}

.homeImageLeft{
    width: 50%;
    border: solid;
    float: left;
}
.homeImageRight{
    width: 50%;
    border: solid;
    float: right;
}

.homeArticle{
    box-shadow: 5px 5px 10px gray;
    width: 90%;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 100%;
}
.grid-item{
    text-align: center;
}

nav{
    display: block;
}
nav ul {
    display: block;
    background-color: #ffe74c;
    list-style-type: none;
    margin: 0px;
    color: #ffe74c;
    max-width: 100%; 
    text-align: center;
}
nav ul li {
    display: block;
    padding: 0%;
    float: left;
    background-color: #ffe74c;
    color: #4CAF50;
    border-width: 5px;
    border-color: gray;
    width: 16.667%;
    font-size: 85%
}
nav ul li a {
    display: block;
    max-width: 500px;
    padding: 7%;
    border: solid;
    border-width: 1px;
    border-color: #ffe74c;
    margin: 0;
    border: solid;
    border-color: gray;
    border-width: 1px;
}
.dropdown-content{
    display: block;
}
.dropbtn{
    display: none;
}
button{
    display: none;
}
.hide{
    display: block;
}
#Fsmall{
    display: none;
}
#Flarge{
    display: none;
}
#Fmed{
    display: block;
    max-width: 60%;
    height: 17em;
    border: solid;
    float: left;
}
#Ltext{
    display: none;
}
#Stext{
    display: none;
}
#Mtext{
    display: none;
    color: white;
    position: absolute;
    top: 180px;
    left: 25px;
    font-size: 30px;
}
.conditions{
    margin-top: 100px;
}
.current{
    margin-top: 50px;
}

#icon{}
section.forecast{
    text-align: center;
    float: none;
    margin: 5px;
}
th{
    border: solid;
    border-width: 2px;
}

td{
    border: solid;
    border-width: 2px;
}

table{
    width: 99%;
    margin: 8px;
    border: solid;
    border-collapse: collapse;
}
.weather-summary{
    height: 18em;
}

#articleImage{
    max-width: 50%;
    float: right;
    max-height: 16em;
}
#town-article{
    height: 21em;
    display: block;
}