@media only screen and (min-width: 64em) {
        
    #panorama { display: block; }  
    #mainImage { display: none; }

  }

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
    
main{}
.dropbtn{
    display: none;
}

#Flarge { 
    display: block;
    width: 100%;
   /* clip: rect(0px,60px,200px,0px);*/
    height: 250px;
    border: solid;
}  
#Fsmall{
    display: none;
}
#Fmed{
    display: none;
}
#Stext{
    display: none;
}
#Mtext{
    display: none
}
#Ltext{
    display: none;
    color: white;
    position: absolute;
    top: 190px;
    left: 25px;
    font-size: 30px;
}


#articleImage{
    max-height: 16em;
    margin: 20px;
    margin-top: 10px;
}

.weather-summary{
    font-size: 25px;
    margin: 0px;
    height: 6em;
}
.conditions{
    float: right;
    margin-right: 20px;
    position: absolute;
    top: 430px;
    right: 75px;
}
.current{
    float: left;
    text-align: right; 
    margin-left: 20px;
    position: absolute;
    top: 475px;
    left: 75px;
    width: 20%
}
#icon{
    float: left;
    position: absolute;
    left: 10px;
    top: 0px;
}
.highlow{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


th{
    height: 3em;
}
td{
    height: 3em;
}
