/*
White = #FFFFFF
Off-white = #DEE4F7
Black = #02001C
Gray = #201F33
Bright Green = #A5BE00

font-family: 'Abel', sans-serif;
font-family: 'Libre Franklin', sans-serif; - thin?
font-family: 'Poiret One', cursive;
*/
@media only screen and (min-width: 37.5em);

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

header{
    margin: 0;
}

#hamburger{
    display: none;
}
nav{
    display: block;
    margin: 0;
}
.navigation{
    display: block;
}
nav ul{
    background-color: #201F33;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
}
nav ul li{
    display: inline;
    width: 16.667%;
    border: 3px solid black;
    border-right: none;
    float: left;
    padding: 1%;
    margin: 0;
    font-size: 90%;
}
nav ul li a{
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    text-decoration: none;
}


#franklin-img-small{
    width: 60%;
    float: left;
    margin-bottom: 2%;
}
main h2 {
    margin-top: 0;
}
#weather-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 60%
}
#current-conditions{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#summary{
    display: block;
    width: 100%;
    margin-left: 0%;
    font-size: 20px;
}
#weather-description{
    float: right;
    margin-right: 10%;
}
#high-low{
    display: block;
    margin: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
}
#high {
    margin: 9px;
    margin-right: 20px;
}
#low, #wind, #precipitation, #wind-chill {
    margin: 7px;
    margin-right: 20px;
}

table{
    display: block;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td{
    border: 2px solid black;
    height: 35px;
}
td{
    width: 1%;
}