* {box-sizing:border-box}

#Logo{
    width: 140px;
    height: 110px;
}
header{
    background-color: #E1EDE9;
    padding: 1%;
    margin: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
}
.links{
    padding: 5px;
}