.style1 {
    margin: 20px;
    border: 1px solid black;
    padding 10em;
    text-align: center;
    background-color: oldlace;
    line-height: 1.5em;
}

header {
    padding: .35em;
    background-color: oldlace;
    border: 1px solid black;
    font-family: sans-serif;
}

#siteTitle {
    text-align: center;
    color: maroon;
    font-size: 25px;
}

#subTitle {
    text-align: center;
    background-color: oldlace;
    color: maroon;
    font-size: 20px;
    padding: .25em
}

footer {
    text-align: : center;
    background-color: oldlace;
    padding: 1em;
    border: 1px solid black;
}

.picture {
    border: 3px solid black;
}

#contact {
    text-align: center;
}

.smaller {
    text-align: center;
    background-color: oldlace;
}
