* {box-sizing:border-box}

header h1{
    font-size: 130%;
    color: #25CED1;
    text-align: left
}
header img{
    width: 12%;
}
header{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 1%;
    padding-left: 8%;
    background-color: #254441;   
}
header input{
    padding: 6px;
    border: none;
    font-size: 17px;
    position: absolute;
    top: 8%;
    left: 35%;
    width: 25%;
/*    background-color: #E9D2C0;*/
}
header i{
    padding: 6px;
    border: none;
    position: absolute;
    top: 6%;
    right: 3%;
    color: #25CED1;
/*    font-size:76px;*/
}
#Face{
    width: 2.5%;
    position: absolute;
    top: 8%;
    right: 10%;
}
#Insta{
    width: 2.5%;
    position: absolute;
    top: 8%;
    right: 14%;
}
#Twitter{
    width: 3.5%;
    position: absolute;
    top: 8%;
    right: 18%
}

nav ul li a {
    display: block;
    padding: 7%;
    text-align: center;
}
nav ul{
    display: block;
    margin: 0px;
    list-style-type: none;
    width: 100%
}
nav li{
    display: block;
    border: solid;
    margin: -1px;
    margin-top: 0%;
    display: inline;
    border-color: #114503;
    background-color: #417B5A;
    color: #114503;
    width: 16.8%;
    margin-bottom: 6%
}

nav{
    display: block;
}
.dropdown-content{
    display: block;
}
.dropbtn{
    display: none;
}
.hide{
    display: block;
}

#page-title{
    font-size: 60px;
}

#tours{
    max-width: 85%;
    grid-template-columns: auto auto auto;
}

.tour-page-photo{
    width: 90%;
    margin-left: 5%;
}
.learn-more{
    padding: 5%;
    text-align: center;
    border: solid;
    border-color: #114503;
    background-color: #417B5A;
    color: #114503;
}

#bikes{
    max-width: 80%;
    grid-template-columns: auto auto auto;
}

#bike-sales-grid{
    grid-template-columns: auto auto;
    padding-left: 15%;
}
.bike-container{
    width: 40%;
}
.bike-desc{
    display: block;
}
.bike-grid, .bike-grid2, .bike-grid3{
    width: 33%;
    border: solid;
}

#parts{
    grid-template-columns: auto auto auto auto auto;
}

table,td{
    border: solid;
    border-collapse: collapse;
}
table{
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 67%;
}
td{
    width: 20%;
    padding: 5px;
}

#contact-info{
    width: 50%;
    font-size: 30px;
}
#mapholder{
    width: 50%;
}

#contact-footer{
    width: 45%;
    float: left;
}

#prev, #next {
  top: 50%;
}